@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Notable|Pathway+Gothic+One|Red+Hat+Display&display=swap');

* {
    background-color: rgb(255, 184, 79)
}

td a img {
    width: 600px;
    height: 300px;
}

th,
td {
    text-align: center;
    width: 30%;
}

.centrado {
    text-align: center;
}

.padding td {
    padding-left: 10px;
    padding-right: 10px;
}

h1+h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: medium;
    font-weight: normal;
}

.seccion {
    font-family: 'Bebas Neue', cursive;
}

#titular {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bolder;
}