* {
    background-color: rgb(107, 151, 151);
}

th, td {
    text-align: center;
}

[class]:hover {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ccc;
    font-weight: bold;
    color: yellow;
    filter: blur(1px);
    box-shadow: 10px 5px 5px black;
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb, 
                0 4px 0 #b9b9b9, 
                0 5px 0 #aaa, 
                0 6px 1px rgba(0, 0, 0, .1), 
                0 0 5px rgba(0, 0, 0, .1), 
                0 1px 3px rgba(0, 0, 0, .3), 
                0 3px 5px rgba(0, 0, 0, .2), 
                0 5px 10px rgba(0, 0, 0, .25), 
                0 10px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15) ;   
}

h1 {
    text-align: center;
}

.tabla {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(10, 2, 0);
}

.dia {
    background-color: crimson;
}

.recreo {
    background-color: rgb(167, 165, 160);
}

.prog {
    background-color: aqua;
}

.bdatos {
    background-color: chartreuse;
}

.code {
    background-color: blueviolet;
}

.lima {
    background-color: darkgoldenrod;
}

.dcli {
    background-color: deeppink;
}
